name: "pipeline-"

on: 
  push:
    branches:
      - main
    paths:
     - application-service/**
     - order-service/**
     - patient-service/**
     - helm/**

jobs:
   build:
    runs-on: ubuntu-latest
    steps:
     - name: checkout code
       uses: actions/checkout@v4

     - name: Authenticate to Google Cloud
       uses: google-github-actions/auth@v2
       with:
          credentials_json: ${{ secrets.GCP_KEY_JSON }}

     - name: Configure Docker
       run: |
          gcloud auth configure-docker asia-south1-docker.pkg.dev

     - name: build application service images
       run: |
          docker build -t ${{ vars.GAR_LOCATION }}/application-service:latest ./application-service
          docker push ${{ vars.GAR_LOCATION }}/application-service:latest

     - name: build order service image
       run: |
         docker build -t ${{ vars.GAR_LOCATION }}/order-service:latest ./order-service
         docker push ${{ vars.GAR_LOCATION }}/order-service:latest

     - name: buld patient service image
       run: |
         docker build -t ${{ vars.GAR_LOCATION }}/patient-service:latest ./patient-service
         docker push ${{ vars.GAR_LOCATION }}/patient-service:latest
    
   deploy:
      runs-on: ubuntu-latest
      steps:
        - name: checkout code
          uses: actions/checkout@v4

        - name: Authenticate to Google Cloud
          uses: google-github-actions/auth@v2
          with:
            credentials_json: ${{ secrets.GCP_KEY_JSON }}

        - name: Authenticate to Google Cloud
          uses: google-github-actions/get-gke-credentials@v2
          with:
           cluster_name: ${{ vars.GKE_CLUSTER }}
           location: ${{ vars.REGION }}

        - name: Install Helm
          run: |
            curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash

        - name: Deploy using Helm
          run: |
            helm upgrade --install app ./helm/app  